#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo

override_dh_auto_install:
	mkdir -p install-temp/opt/sx1302-hal
	cp libloragw/test_loragw* install-temp/opt/sx1302-hal
	cp tools/reset_lgw.sh install-temp/opt/sx1302-hal
	cp packet_forwarder/lora_pkt_fwd install-temp/opt/sx1302-hal
	cp packet_forwarder/global_conf.* install-temp/opt/sx1302-hal
	cp util_chip_id/chip_id install-temp/opt/sx1302-hal
	cp util_net_downlink/net_downlink install-temp/opt/sx1302-hal
