#!/usr/bin/make -f
# You must remove unused comment lines for the released package.
#export DH_VERBOSE = 1
#export DEB_BUILD_MAINT_OPTIONS = hardening=+all
#export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
#export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

#override_dh_auto_install:
#	dh_auto_install -- prefix=/usr

#override_dh_install:
#	dh_install --list-missing -X.pyc -X.pyo

override_dh_auto_install:
	mkdir -p opt/sx1302-hal
	cp libloragw/test_loragw* opt/sx1302-hal
	cp tools/reset_lgw.sh opt/sx1302-hal
	cp packet_forwarder/lora_pkt_fwd opt/sx1302-hal
	cp packet_forwarder/global_conf.* opt/sx1302-hal
	cp util_chip_id/chip_id opt/sx1302-hal
	cp util_net_downlink/net_downlink opt/sx1302-hal

	mkdir -p etc/systemd/system/
	cp tools/systemd/lora_pkt_fwd.service etc/system/systemd